boto3==1.35.3
botocore==1.35.3
gunicorn==23.0.0
numpy==2.1.0
pandas==2.2.2
requests==2.32.3
sagemaker-containers==2.8.6.post2
sagemaker-inference==1.10.1
scikit-learn==1.5.1
scipy==1.14.1
urllib3==2.2.2
flask==3.0.3
xgboost==2.1.1
